<div id="body" class="d-flex">
    <div id="sidebar">
        <app-dashboard-sidebar></app-dashboard-sidebar>
    </div>
    <div id="contenido">
        <div id="navbar">
            <app-dashboard-navbar [title]="'Empresa'"></app-dashboard-navbar>
        </div>
        <div id="content" class="px-2 py-2">
            <div id="formulario" class="container mt-2 px-3 py-3 rounded">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label"> Nombre </label>
                        <input type="text" class="form-control" id="name" value="{{ company.name }}">
                    </div>                    
                    <div class="mb-3">
                        <label for="nit" class="form-label"> Nit </label>
                        <input type="text" class="form-control" id="nit" value="{{ company.nit }}">
                    </div>                    
                    <div class="mb-3">
                        <label for="address" class="form-label"> Dirección </label>
                        <input type="text" class="form-control" id="address" value="{{ company.address }}">
                    </div>
                    <div class="form-check form-switch d-flex flex-column row-reverse mb-3">
                        <label for="toggle" id="lbl-toggle" class="form-label"> Activa </label>
                        <input class="form-check-input me-0" type="checkbox" role="switch" id="toggle" [checked]="company.active">
                    </div>
                    <div class="mb-4">
                        <label for="description" class="form-label"> Descripción </label>
                        <textarea class="form-control" id="description"> {{ company.description }} </textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-25">Editar</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="footer">
            <app-dashboard-footer></app-dashboard-footer>
        </div>
    </div>
</div>