/* 
    CLASSES
*/
.form-control,
.form-select {
    background: var(--bg-2);
    border: none;
}

.form-control::placeholder {
    color: var(--cl-1);
}

.toggle-active, 
.toggle-inactive {
    top: 354px;
}