<div class="container mt-5">
    <div class="mb-5">
        <h1 class="mb-3 text-center cl-brown"> Datos para la reserva </h1>

        <form class="container">
            <div class="mb-3">
                <label for="fullname" class="form-label"> Nombre Completo: </label>
                <input type="text" class="form-control" id="fullname">
            </div>
            <div class="mb-3">
                <label for="document" class="form-label"> Número de documento: </label>
                <input type="number" class="form-control" id="document">
            </div>
            <div class="mb-3">
                <label for="persons" class="form-label"> Cantidad de personas: </label>
                <select class="form-select" aria-label="Default select example" id="persons">
                    <option selected disabled></option>
                    @for (number of numbers; track $index){
                        <option value="{{ number }}"> {{ number }} </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="motive" class="form-label"> Motivo de reserva: </label>
                <select class="form-select" aria-label="Default select example" id="motive" #motive (change)="verifyMotive(motive.value);">
                    <option selected disabled></option>
                    @for (motive of motives; track $index){
                        <option value="{{ motive.id }}"> {{ motive.name }} </option>
                    }
                </select>
            </div>
            <div class="mb-3" [ngClass]="isOther ? '' : 'd-none'">
                <label for="motive" class="form-label"> Cual: </label>
                <input type="text" class="form-control" id="other-motive">
            </div>
            <div class="mb-3">
                <label for="add-info" class="form-label"> Información / Petición de servicio adicional </label>
                <textarea class="form-control" id="add-info" rows="3"></textarea>
            </div>
            <div class="mb-3 d-flex justify-content-around">
                <input type="button" value="Enviar" class="btn bg-brown">
            </div>
        </form>
    </div>
</div>