/* 
    HTML
*/
* {
    text-decoration: none;
    font-family: 'Century gothic', sans-serif;
    list-style: none;
}

h3 {
    margin: 0;
    color: var(--cl-2);
}

ul {
    margin: 0;
}

a, .links span, span, p {
    color: var(--cl-1);
}

a li:hover {
    background: var(--bg-2);
    color: var(--cl-2);
}

/* 
    IDS
*/
#body {
    background: var(--bg-2);
    overflow: auto;
}

#bg_home {
    width: 100%;
}

#navbar,
#footer {
    height: 80px;
    width: 100%;
    background: var(--bg-1);
}

#company {
    width: 30%;
}

#urls {
    width: 50%;
}

#auth {
    width: 20%;
}

#bars {
    display: none;
}

#logo-company {
    height: 65px;
}

#content,
#copyright {
    width: 100%;
    color: var(--white);
}

#mymenu-example {
    height: 96vh;
    background: url('../../../public/img/bg-home.png') no-repeat;
    background-size: cover;
}

#our {
    height: 400px;
}

#clients {
    height: 50vh;
    background: url('../../../public/img/bg-white.png') no-repeat;
    background-size: cover;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
}

/* 
    CLASSES
*/
.lottie-check {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.lottie-contact {
    width: 500px;
    height: 500px;
}

.w-40 {
    width: 40%;
}

.w-60-vw {
    width: 60vw;
}

.w-60 {
    width: 60%;
}

/* 
    MEDIA QUERY
*/
@media (max-width: 600px) {
    #auth, #lottie-1, #lottie-2, #urls ul {
        display: none !important;
    }

    #bars {
        display: flex;
        margin-left: 10px !important;
    }

    #company {
        margin-right: 0 !important;
    }

    #logo-company {
        margin-left: 15% !important;
    }

    #contact-us {
        flex-direction: column-reverse;
    }

    #contact-form, 
    #why-us-info {
        width: 100% !important;
    }

    #social-links {
        width: 300px !important;
    }

    #send {
        display: flex !important;
        justify-content: center;
        width: 300px !important;
    }

    #send input{
        margin: 0 auto;
    }

    #mymenu-example {
        height: 150px;
        background: url('../../../public/img/bg-home.png') 100%;
        background-size: cover;
    }

    .dropdown-menu {
        background: var(--bg-2);

    }

    .form-control, .form-label {
        width: 300px !important;
    }
}