<div id="body" class="d-flex flex-column">
    <div id="navbar" class="d-flex align-items-center">
        <div id="company" class="ms-3">
            <img src="{{ path_img + logo_company }}" id="logo-company" alt="logo-company"
                class="mx-2 ms-5 my-2 rounded-4">
        </div>
        <div id="urls" class="d-flex align-items-center justify-content-around">
            <ul class="d-flex align-items-center justify-content-around">
                @for (section of sections; track $index){
                <a href="{{ section.url }}">
                    <li class="mx-2 px-3 py-2 rounded"> {{ section.name }} </li>
                </a>
                }
            </ul>
        </div>
        <div id="auth" class="d-flex justify-content-end align-items-center pe-5">
            <input type="button" title="Ir al Dashboard de MyMenu" class="btn btn-info fw-bold" (click)="goToLogin()"
                value="Iniciar sesión">
        </div>
        <div id="bars" data-bs-toggle="dropdown">
            <i class="fas fa-bars fs-1 text-info"></i>
        </div>
        <ul class="dropdown-menu">
            @for (section of sections; track $index){
            <a href="{{ section.url }}" class="dropdown-item">
                <li class="px-3 py-2 rounded"> {{ section.name }} </li>
            </a>
            }
        </ul>
    </div>
    <div id="content">
        <div id="mymenu-example"></div>
        <div id="why-us" class="d-flex px-5 py-5">
            <div id="why-us-info" class="w-50">
                <h3 class="mb-3"> ¿POR QUÉ <b>MyMenu</b>? </h3>
                <p> Una carta de menú digital que a través de un QR ofrece múltiples ventajas sobre una carta física:
                </p> <br>
                <ol class="mb-5">
                    <li class="d-flex align-items-center mb-3">
                        <i class="fa-regular fa-circle-check text-info fs-3 fw-bold me-3"></i>
                        <span class="me-5"> Comoda y facil de usar. </span>
                    </li>
                    <li class="d-flex align-items-center mb-3">
                        <i class="fa-regular fa-circle-check text-info fs-3 fw-bold me-3"></i>
                        <span class="me-5"> Actualizaciones en tiempo real. </span>
                    </li>
                    <li class="d-flex align-items-center mb-3">
                        <i class="fa-regular fa-circle-check text-info fs-3 fw-bold me-3"></i>
                        <span class="me-5"> Interactiva y atractiva. </span>
                    </li>
                    <li class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check text-info fs-3 fw-bold me-3"></i>
                        <span> Enriquece la experiencia gastronómica y facilita la elección. </span>
                    </li>
                </ol>
                <input type="button" class="btn btn-info fw-bold" (click)="goToWpp()" value="¡EMPECEMOS DE UNA VEZ!">
            </div>
            <div id="lottie-1" class="d-flex justify-content-center align-items-center w-50">
                <div class="lottie-check" #lottieContainer></div>
            </div>
        </div>
        <div id="clients" class="px-5 pt-2">
            <swiper-container centered="true" slides-per-view="3" class="h-100 d-flex align-items-center"
                autoplay-delay="1000" loop mousewheel="false" grab-cursor="false">
                @for (company of companies; track $index) {
                <swiper-slide class="px-3 py-3 d-flex align-items-center h-100">
                    <img src="{{ path_img + company.img }}" class="w-100" alt="logo-company">
                </swiper-slide>
                }
            </swiper-container>
        </div>
        <div id="contact" class="d-flex">
            <div id="lottie-2" class="w-40">
                <div class="lottie-contact" #lottieContainer></div>
            </div>
            <div id="contact-info" class="d-flex flex-column px-3 py-3 w-60">
                <div id="contact-us" class="d-flex">
                    <div id="contact-form" class="w-50 d-flex flex-column ps-3 pe-5">
                        <h3 class="fw-bold mb-3 d-flex justify-content-center"> Contactanos </h3>
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label"> Nombre: </label>
                                <input type="text" class="form-control" id="name"
                                    placeholder="Ejemplo: Juanito Perez">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label"> Correo electronico:</label>
                                <input type="email" class="form-control" id="email"
                                    placeholder="Ejemplo: jperez@example.com">
                            </div>
                            <div class="mb-4">
                                <label for="message" class="form-label"> Mensaje: </label>
                                <textarea class="form-control" id="message" rows="3" placeholder="Tu mensaje aquí ..."></textarea>
                            </div>
                            <div id="send" class="d-flex justify-content-center align-items-center">
                                <input 
                                    type="button" 
                                    class="btn btn-info px-5 fw-bold text-white" 
                                    (click)="sendMessage($event)" 
                                    [disabled]="true"
                                    value="ENVIAR"
                                >
                            </div>
                        </form>
                    </div>
                    <div id="social-links" class="w-50 d-flex flex-column pt-2 ps-5 pe-3">
                        <div class="d-flex align-items-center links mb-3">
                            <i class="fab fa-instagram fs-3 me-3 text-info"></i>
                            <a href="https://www.instagram.com/app.mymenu" target="_blank"> &#64;app.mymenu </a>
                        </div>
                        <div class="d-flex align-items-center links mb-3">
                            <i class="far fa-envelope fs-3 me-3 text-info"></i>
                            <a href="mailto:gerencia@mymenu.com.co"> gerencia&#64;mymenu.com.co </a>
                        </div>
                        <div class="d-flex align-items-center links mb-3">
                            <i class="fas fa-mobile-alt fs-3 me-3 text-info"></i>
                            <div class="d-flex flex-column">
                                <a href="tel:3057506743"> +57 (2) 305-750-6743 </a>
                                <a href="tel:3022610105"> +57 (2) 302-261-0105 </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center links mb-5">
                            <i class="fas fa-map-marker-alt fs-3 me-3 text-info"></i>
                            <p> Santiago de Cali - Colombia </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if(btnVisible){
        <div (click)="scrollToTop()">
            <i id="backToTop" title="Volver Arriba" class="fas fa-arrow-alt-circle-up text-danger"></i>
        </div>
        }
    </div>
    <div id="footer" class="d-flex py-3 px-3 align-items-center">
        <div id="copyright" class="d-flex justify-content-around">
            <p class="me-5"> Copyright &copy; 2024 - Santiago de Cali, Colombia </p>
        </div>
    </div>
</div>