:root {
    --white: rgb(255, 255, 255);
    --brown: #9c807b;
    --brown-dark: #6d5b5b;
}

/* 
    HTML
*/
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0 !important;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 
    ID
*/
#contenedor {
    background: linear-gradient(35deg,rgba(213, 219, 213, 1) 0%, rgba(224, 162, 126, 1) 38%, rgba(213, 219, 213, 1) 100%);
}

#navegator {
    width: 100vw;
    position: fixed;
    background: var(--brown);
    top: 0;
    z-index: 3;
}

/* 
    CLASSES
*/
.bg-white-{
    background: var(--white) !important;
}

.cards {
    width: 100%;
}

.card-body {
    border-top: solid 0.5px #c2c2c2;
    background: linear-gradient(30deg,rgb(214, 219, 214) 0%, rgb(247, 244, 244) 35%, rgba(247, 244, 244) 55%, rgba(213, 219, 213, 1) 100%);
    border-radius: 0 0 6px 6px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card {
    cursor: pointer;
}

.card-img-top {
    height: 100px;
}

.label-info {
    font-size: 11px;
    position: absolute;
    top: -10px;
    right: -5px;
    z-index: 2;
}

.img-modal {
    max-height: 30vh;
}

.img-on-popup {
    width: 100%;
}

.type h1 {
    font-family: 'Lemmon shake';
}

@media (min-width: 1000px){
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 30px;
    }
}

@media (max-width: 600px){
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px;
    }

    .card-title {
        height: 40px;
        font-size: 16px;
    }

    .card-text {
        height: 40px;
        font-size: 13px;
    }

    .price {
        font-size: 15px;
    }
}