/* 
    HTML
*/
* {
    font-family: 'Century Gothic', sans-serif;
    color: var(--cl-1);
}

/* 
    IDS
*/
#sidebar, #contenido {
    height: 100vh;
}

#contenido {
    width: 85%;
}

#content {
    height: 85vh;
    background: var(--bg-1);
}

#sidebar{
    width: 15%;
    border-right: 0.5px solid var(--bg-2);
}

/* 
    CLASSES
*/
.card {
    width: 22%;
    background: var(--bg-2);
}

.circle-number {
    font-size: 60px;
    background: var(--bg-1);
}
