<div class="contenedor d-flex">
    <div id="logo-mymenu" class="w-50 d-flex">
        <img src="{{ path_logo }}" alt="logo-mymenu" class="shadow-radius" id="img-mm">
    </div>
    <div id="login-form" class="w-50 d-flex flex-column align-items-center justify-content-center">
        <div id="form" class="shadow-radius-2 px-5 py-5">
            <div id="title" class="mb-3">
                <h3 class="text-center fw-bold"> Inicio de sesión </h3>
            </div>
            <form class="d-flex flex-column" [formGroup]="authForm">
                <div class="input-group mb-3 dp-flex-L">
                    <label for="username" class="mb-2"> <small> Nombre de usuario </small> </label>
                    <div class="d-flex justify-content-between align-items-center">
                        <input id="username" name="username" class="form-control" placeholder="example: jperez" formControlName="username"
                            (keyup.enter)="actionSet()" [ngClass]="{'input-valid': username, 'input-error': noUsername,}" 
                            (change)="onUsernameChange('username')">
                    </div>
                </div>
                <div class="input-group mb-2 dp-flex-L">
                    <label for="password" class="mb-2"> <small> Contraseña </small> </label>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="input-group mb-3">
                            <input [type]="config.input" placeholder="* * * * * * *" id="password" class="form-control" 
                                formControlName="password" (keyup.enter)="actionSet()" 
                                [ngClass]="{'input-valid': password, 'input-error': noPassword,}" (change)="onPasswordChange('password')"
                            >
                            @if (validatePassword().length > 0) {
                                <span class="input-group-text" [ngClass]="{'input-valid': password}" (click)="previewPass()" title="{{ config.title }}">
                                    <i [ngClass]="config.icon"></i>
                                </span>
                            }
                        </div>
                    </div>
                </div>
                <input 
                    type="submit" 
                    id="button" 
                    [ngClass]="authForm.invalid ? 'btn-secondary' : 'btn-primary'" 
                    class="btn " value="Ingresar" 
                    (click)="actionSet()"
                    (keyup.enter)="actionSet()"
                    [disabled]="authForm.invalid"
                >
            </form>    
        </div>    
    </div>
</div>