<div id="body">
    <div id="company-logo" class="pt-3 mb-3">
        <img
            src="{{ !company.img 
                ? path_server + company.img 
                : path_img + 'logo.png' 
            }}" 
            id="company-logo" 
            class="mx-4 w-80 rounded" 
            alt="company-logo" 
        />
    </div>
    <div id="options">
        <ul id="views" class="px-3">
            @for (view of viewsByPermissions(); track $index) {
            <li 
                title="Ir a {{ view.name }}" 
                (click)="setURL(view.url)" 
                class="px-3 py-2 mb-2 rounded" 
                [ngClass]="{'selected': viewSelected === view.url}"
            >
                <i class="{{ view.icon }} me-3 w-10"></i>
                <span> {{ view.name }} </span>
            </li>
            }
        </ul>
    </div>
</div>