/* 
    HTML
*/
:root {
    --bg-1: rgb(23, 24, 33);
    --bg-2: rgb(33, 34, 45);

    --white: rgb(255, 255, 255);

    --cl-1: rgb(135, 136, 140);
    --cl-2: rgb(210, 210, 210);
}

h1,
h2,
h3,
h4,
p {
    margin: 0 !important;
}

th,
tr {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.06) !important;
}

/* 
    CLASSES
*/
.bg-brown {
    background: #9c807b !important;
    color: #ffffff !important;
}

.bg-brown:hover {
    background: #6d5b5b !important;
}

.br-none {
    border: none !important;
}

.pb-0 {
    padding-bottom: 0;
}

.cl-brown {
    color: #9c807b !important;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h100 {
    height: 100px;
}

.form-control,
.form-select {
    color: var(--cl-2) !important;
}

.form-control::placeholder {
    color: var(--cl-1) !important;
}

.form-check-input {
    margin: 0 !important;
    width: 110px !important;
    height: 30px !important;
    cursor: pointer !important;
}

.invisible {
    display: none;
}

.new {
    color: var(--white) !important;
}

.p-0 {
    padding: 0;
}

.visible {
    display: block;
    font-weight: bold;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-80 {
    width: 80%;
}

/* 
    FONTS
*/
@font-face {
    font-family: "Lemmon shake";
    src: url("../public/fonts/Lemon_Shake.otf");
}