/* 
    HTML
*/
*{
    font-family: 'Century Gothic', sans-serif;
    color: var(--white);
}

hr {
    margin: 0;
}


li, svg {
    color: var(--cl-1);
}

li:hover {
    background: var(--bg-2);
}

ul {
    background: var(--bg-1);
}

/* 
    IDS
*/
#body {
    width: 100%;
    height: 60px;
    background: var(--bg-1);
}

#config {
    width: 15%;
}

#profile {
    height: 100%;
    cursor: pointer;
}

#img {
    width: 20%;
}

#user {
    width: 75%;
}

#titleSession {
    width: 85%;
}

/* 
    CLASSES
*/
.br-50 {
    border-radius: 50px;
}

.fa-gear {
    font-size: 25px;
    color: var(--white);
}

.w-20 {
    width: 20%;
}