/* 
    HTML
*/
a {
    text-decoration: none;
}

/* 
    IDS
*/
#body {
    height: 35px;
    background: var(--bg-1);
}

#copyright {
    width: 40%;
}

#info {
    width: 60%;
}

#sf-link {
    color: var(--white);
    font-weight: bold;
}

#info a {
    color: var(--cl-1);
}

#info a:hover {
    color: var(--cl-2);
}